


body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: white;
    text-align: center;
    
}

/*---- Header ----- */

header{
    margin: 0;
    padding: 0;
}

/*---- Footer ----- */

.iconos-footer{
    margin-left: 2em;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
}

.logo{
    margin-left: 2em;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
}

.nav{
    padding:2em;
}

.nav-link{
    color:#000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
}

.nav-link:hover{
    color:#F9935A; 
}

.hero{
    padding: 4em 0 7em 0;
    background-image: url(./images/HERO.jpeg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    margin-top: 1em;
    padding: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: 600;
}

.hero-paragraph{
    margin-bottom: 3em;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

button{
    padding: 0.5em 1em;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius:4px;
    background-color: #77CECD;
    border-style: none;
} 

/*---- Video ----- */

.video-background{
    padding: 4em 0;
    background-color: #77CECD;
}

h2{
    margin-bottom: 2em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    
}

.video-paragraph{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
 

/*---- Categorias ----- */

.category-container{
    margin: 5em 0;
}

h3{
    margin-bottom: 1em;
    color: #F9935A;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400; 
}

.categories-subtitle{
    margin: 0 10em  3em 10em;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 400; 
}

.catergories-image1{
    margin: 0 2em;
    height: 380px;
    background-image: url(./images/comida.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.catergories-image2{
    margin: 0 2em;
    height: 380px;
    background-image: url(./images/arquitectura.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.catergories-image3{
    margin: 0 2em;
    height: 380px;
    background-image: url(./images/exterior.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.p-category{
    text-align:start;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    border-bottom: 3px solid #fff  ;
    text-decoration: none;
}

.p-category:hover{
    color: #F9935A;
    border-bottom: 3px solid #F9935A  ;
}
 

/*---- Anuncio ----- */

.ad-background{
    padding: 3em 20em;
    background-color: #77CECD;   
}

.ad-image{
    padding: 3em 0;
    background-image: url(./images/AD.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.ad-container{
    padding: 5em 5em;
}

h4{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 400; 
}

.ad-paragraph{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 400;
} 




/*---- Arte y Arquitectura  ----- */

.titulo-page{
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;  
    margin-bottom: 0px;
}

.info_lugar {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 10px 5px 5px;
    box-shadow: #000;
  }

hr{
   color: #77CECD;
   opacity: 100%;
  }

.division{
    color: #7FDBDA;
    padding: 0 0 5px;
    margin-left: 33em;
    width: 30%;
    
  }

.line{
    color: #77CECD;
    width: 30%;
    padding: 0 0 4px;
}

  .card{
    padding: 2em 2em;
    text-align: left;
    margin-left: 14em;
    margin-top: 2em;
     
    }

    h6{
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    }

    .col-md-4{
        background-image: url(./images/fototeatro.jpg);
    }

    /*---- comida ----- */

.titulo-comida{
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;  
    margin-bottom: 0px;
}

.column1 {
    float: left;
    width: 40%;
  }

  .column2 {
    float: left;
    width: 60%;
  }

.subrayado-amarillo{
    background-color: #FAF281;
    padding: 0 0 5px;
    margin-left: 33em;
    width: 30%;
}

.mini-subrayado-amarillo{
    color: #FAF281;
    width: 30%;
    padding: 0 0 4px;
}


.comida-image1{
    padding: 10em 0;
    background-image: url(./images/pizza.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.comida-image2{
    padding: 10em 0;
    background-image: url(./images/donas.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.comida-image3{
    padding: 10em 0;
    background-image: url(./images/casado.jpg);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

/*---- Aire Libre  ----- */
.category{
    margin-top: 1em;
    padding: 0;
    color:black !important;
    font-family: 'Poppins', sans-serif;
    font-size: 60px !important;
    font-weight: 800;
}